.App {
  text-align: center;
  font-family: monospace;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Character {
  white-space: pre;
}

.Character-current {
  /* background-color: #09d3ac; */
  background-color: #61dafb;
}

.Character-out {
  color: silver;
}

.Character-err {
  color: white;
  background-color: red;
}

.totalChars {
  color: silver;
  font-weight: normal;
  font-size: 16px;
}

.result-heading {
  text-align: center;
  font-weight: 400;
}

.result-wpm {
  color: #4CAF50;
  font-weight: 600;
}

.result-typingspeed {
  text-align: center;
  margin-top: 40px;
}

.result-accuracy {
  text-align: center;
  margin-top: 20px;
}

.typing-speed-heading,
.accuracy-heading {
  font-size: 20px;
  margin-bottom: 5px;
}

.typing-speed-content,
.accuracy-content {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 400;
}

.unfocused-content {
  font-size: 16px;
  font-weight: 400;
  color: rgb(167, 166, 166);
}

.red-timer {
  color: red;
}